.logo-container {
    width: 80px;
}

body {
    background-color: #dbe2ea;
    color: #000000;
}

.border-theme {
    border-color: #343a40 !important;
}

@media (max-width: 768px) {
    .header-right {
        justify-content: center !important;
    }

    .header-right-container {
        margin-top: 30px;
    }
}